@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo{
    width: 20%;
    display: flex;
    margin-left: 2%;
}

.menu_navigation{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.menu_navigation_items{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 300px;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo_footer{
    width: 10%;
    height: 80%;
    display: flex;
    margin: auto 0;
    margin-left: 2%;
}

.menu_navigation_footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 0%;
    justify-content: center;
    gap: 10%;
}

.menu_navigation_items_footer{
    text-decoration: none;
    color: white;
    font-size: 10px;   
}

.option_footer{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
}

.option_footer_link{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 10px 5px;
    border-radius: 20px;
}

/* aqui acaba o header e o footer */

.first_banner{
    background-color: rgb(231, 231, 240);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first_banner_left{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 4% 2%;
    gap: 5%;
}

.first_banner_left_h1{
    width: 90%;
    color: rgb(226, 43, 73);
    font-size: 2.5rem;
}

.first_banner_left_p{
    margin: 10px 0px;
    width: 50%;
    font-size: 1.5rem;
}

.first_banner_left_a{
    text-decoration: none;
    border: 1px rgb(226, 43, 73) solid;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    padding: 2%;
    color: rgb(226, 43, 73);
    font-size: 1rem;
}

.first_banner_right{
    display: flex;
    flex-direction: column;
    margin: 4% 2%;
    align-items: flex-end;

}

/* segundo banner */

.second_banner{
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second_banner_row{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 4% 0%;
    gap: 2%;
    align-items: center;
    
}

.second_banner_row_img{
    width: 60%;
    height: 100%;
}

.second_banner_row_h4{
    width: 90%;
    color: rgb(226, 43, 73);
    text-align: center;
}

.second_banner_row_p{
    margin: 10px 0px;
    width: 50%;
    font-size: 1.25rem;
    text-align: center;
}

.second_banner_row_a{
    text-decoration: none;
    color: white; 
    border-radius: 20px;
    text-align: center;
    width: 30%;
    padding: 2%;
    background-color: rgb(226, 43, 73);
    font-size: 1rem;
}

/* terceiro banner */

.third_banner{
    background-color: rgb(231, 231, 240);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.third_banner_h2{
    margin: 4% 0% 2% 5%;
    color: rgb(95, 172, 95);
}

.third_banner_dp{
    display: flex;
    flex-flow: row wrap;
    margin: 1% 5%;
    justify-content: space-between;
}

.third_banner_dp_unit_p{

    width: 100%;
}

.third_banner_dp_column{
    width: 50%;

}

.third_banner_dp_unit{
    display: flex;
    width: 90%;
    align-items: center;
    gap: 5%;
    margin-bottom: 2%;

}

/* quarto banner */

.fourth_banner{
    display: flex;
    flex-direction: column;
    height: auto;
}

.fourth_banner_row{
    display:flex;
    justify-content: space-between;
    margin: 1% 5%;
}

.fourth_banner_cont{
    width: 30%;
}

iframe{
    width: 100%;
    height: 70%;
}

.fourth_banner_cont_h4{
    color: rgb(95, 172, 95);
    font-size: 1.2rem;
}

.fourth_banner_a{
    text-decoration: none;
    color: white; 
    border-radius: 20px;
    text-align: center;
    padding: 1%;
    background-color: rgb(226, 43, 73);
    font-size: 1rem;
    margin: 5% auto;
}

@media screen and (max-width:700px) {
    .menu_navigation_footer {
        display: none;
    }

    .menu_navigation{
        flex-direction: column;
        font-size: 0.8rem;
    }

    .menu_navigation_items{
        margin: 7% 0px;
    }
    
    .second_banner{
        overflow-x:scroll;
        overflow-y: hidden;
    }

    .second_banner_row{
        min-width: 450px;
        margin-bottom: 5%;
    }

    .second_banner_row_img{
        width: 30%;
    }

    .third_banner_dp{
        flex-direction: column;

    }
    .third_banner_dp_column{
        width: 100%;
    }

    .third_banner_dp_unit{
        border: 1px solid rgb(226, 43, 73);
    }

    .fourth_banner_cont{
       min-width: 200px;
       margin-right: 2%;
       margin-bottom: 5%;
       height: 100%;
    }

    .fourth_banner_a{
        margin-bottom: 5%;        
    }

    .fourth_banner_row{
        overflow-x: auto;
        margin-bottom: -5%;
    }
    
    .first_banner_right{
        display: none;
    }

    .first_banner_left{
        width: 100%;
        align-items: center;
    }

    .first_banner_left_h1, .first_banner_left_p{
        text-align: center;
    }

    header{
        justify-content: space-between;
        width: 100%;
    }

    .logo, .logo_footer{
        width: 50%;
    }

    .logo img, .logo_footer img{
        width: 100%;
    }

    .option_footer_link{
        font-size: 0.8rem;
        padding: 8px;
        margin: 7% 0px;
    }
}

@media screen and (max-width:1000px) {
    .fourth_banner_a{
        margin-top: 9%;
    }

    .menu_navigation_footer{
        margin-left: 30%;
    }
    
    .first_banner_right{
        width: 50%;
    }

    .first_banner_right_img{
        width: 100%;
    }

    
    .menu_navigation{
        flex-direction: column;
        font-size: 0.8rem;
        width: auto;
        margin: 1% 2% 1% 0;
    }
}


