@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo{
    width: 20%;
    display: flex;
    margin-left: 2%;
}

.menu_navigation{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}

.menu_navigation_items{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 300px;
}

footer{
    width: 100%;
    height: 157px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo_footer{
    width: 10%;
    height: 80%;
    display: flex;
    margin: auto 0;
    margin-left: 2%;
}

.menu_navigation_footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 0%;
    justify-content: center;
    gap: 10%;
}

.menu_navigation_items_footer{
    text-decoration: none;
    color: white;
    font-size: 10px;   
}

.option_footer{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
}

.option_footer_link{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 10px 5px;
    border-radius: 20px;
}

/* aqui termina o header e o footer */

.first_banner{
    background-color: rgb(231, 231, 240);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first_banner_left{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 4% 2%;
    gap: 5%;
}

.first_banner_left_h1{
    width: 60%;
    color: rgb(226, 43, 73);
    font-size: 2.5rem;
}

.first_banner_left_p{
    margin: 10px 0px;
    width: 90%;
    font-size: 1.5rem;
}


.first_banner_right{
    display: flex;
    flex-direction: column;
    margin: 4% 2%;
    align-items: flex-end;

}

.first_banner_right_img{
    width: 100%;
    background-image: url('dindin-imagens/ilustra-banner.png');
    height: 100%;
}

/* banner de videos */

.banner{
    display: flex;
    padding: 2% 8%;
    border-bottom: 4px solid gray;
    margin-bottom: 5%;
    margin: 0% 2%;
    justify-content: center;
    height: auto;

}

.banner_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: auto;
}

.banner_video{
    width: 90%;
}

.banner_text_h3{
    color: rgb(226, 43, 73);
}

#banner{
    display: flex;
    padding: 2% 8%;
    margin-bottom: 5%;
    margin: 0% 2%;
    justify-content: center;
}

@media screen and (max-width:700px) {
    .menu_navigation_footer {
        display: none;
    }

    .logo, .logo_footer{
        width: 70%;
    }

    .logo img, .logo_footer img{
        width: 80%;
    }

    .title{
        text-align: center;
    }

    .first_banner_right{
        display: none;
    }

    .first_banner_left{
        width: 100%;
        align-items: center;
    }

    .first_banner_left_h1{
        text-align: center;
        font-size: 1.4rem;
    }

    .first_banner_left_p{
        font-size: 0.95rem;
        text-align: justify;
    }

    .menu_navigation{
        flex-direction: column;
        font-size: 0.8rem;
    }

    .banner, #banner{
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    .banner_text{
        margin-top: 2%;
        text-align: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    .banner_text_h3{
        margin-bottom: 5%;
    }

    .banner_text_p{
        text-align: justify;
    }

    .option_footer_link{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1200px) {
    .menu_navigation_footer{
        margin-left: 20%;
    }

    .menu_navigation{
        gap: 10%;
        margin-right: 5%;
    }
}
