@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
    color: black;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo{
    width: 20%;
    display: flex;
    margin-left: 2%;
}

.menu_navigation{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.menu_navigation_items{
    text-decoration: none;
    color: white;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
    bottom: 0;
    position: absolute;
}

.logo_footer{
    width: 10%;
    height: 80%;
    display: flex;
    margin: auto 0;
    margin-left: 2%;
}

.menu_navigation_footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 0%;
    justify-content: center;
    gap: 10%;
}

.menu_navigation_items_footer{
    text-decoration: none;
    color: white;
    font-size: 10px;   
}

.option_footer{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
}

.option_footer_link{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 10px 5px;
    border-radius: 20px;
}

/* aqui termina o header e o footer */

.form_h1{
    color: rgb(226, 43, 73);
    font-size: 2.5rem;
    margin: 2% auto;
    width: 70%;
}

main{
    display: flex; 
    width: 70%;
    height: auto;
    margin: 0% auto;
    margin-bottom: 4%;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}

.form_a{
    text-decoration: none;
    color: white; 
    border-radius: 20px;
    text-align: center;
    width: 30%;
    padding: 2%;
    background-color: rgb(226, 43, 73);
    font-size: 1rem;
}

.main_img{
    margin-left: 10%;
    margin-top: -8%; 
}

@media screen and (max-width:700px) {
    .menu_navigation_footer {
        display: none;
    }

    .logo, .logo_footer{
        width: 50%;
    }

    .logo img, .logo_footer img{
        width: 100%;
    }

    .menu_navigation{
        flex-direction: column;
        font-size: 0.8rem;
    }

    .menu_navigation_items{
        margin: 7% 0px;
    }

    .form_a{
        padding: 2%;
        font-size: 0.8rem;
    }
    
    .form_h1{
        font-size: 1.2rem;
    }

    .form{
        width: 100%;
        height: 500px;
    }

    .main_img{
        display: none;
    }
    .option_footer_link{
        font-size: 0.8rem;
        margin: 7% 0px;
        padding: 8px;
    }
}

@media screen and (max-width:1200px) {
    .menu_navigation_footer{
        margin-left: 40%;
    }

    .menu_navigation{
        flex-direction: column;
        font-size: 0.8rem;
        width: auto;
        margin: 1% 2% 1% 0;
    }

    .main_img{
        width: 30%;
    }
}