@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

html{
    height: 100%;

}

body{
    height: 100%;
}

header{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo{
    width: 20%;
    display: flex;
    margin-left: 2%;
}

.menu_navigation{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}

.menu_navigation_items{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 300px;
}

footer{
    width: 100%;
    height: 157px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 172, 95);
}

.logo_footer{
    width: 10%;
    height: 80%;
    display: flex;
    margin: auto 0;
    margin-left: 2%;
}

.menu_navigation_footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 0%;
    justify-content: center;
    gap: 10%;
}

.menu_navigation_items_footer{
    text-decoration: none;
    color: white;
    font-size: 10px;   
}

.option_footer{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
}

.option_footer_link{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 10px 5px;
    border-radius: 20px;
}

/* aqui acaba o header e o footer */

.absolute{
    display: flex;
    flex-direction: column;
}

.title{
    padding: 4% 8%;
}

.title_h1{
    color: rgb(226, 43, 73);
    font-size: 2.5rem;
}

.banner{
    display: flex;
    padding: 2% 8%;
    border-bottom: 4px solid gray;
    margin-bottom: 5%;
    margin: 0% 2%;
}

.banner_text{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    justify-content: center;
    gap: 17%;
}

.banner_img{
 margin-bottom: 2%;
}

.banner_text_h3{
    color: rgb(226, 43, 73);
}

.banner_text_a{
    text-decoration: none;
    color: white; 
    border-radius: 20px;
    text-align: center;
    width: 20%;
    padding: 2%;
    background-color: rgb(95, 172, 95);
    font-size: 1rem;
}

#banner_border{
    display: flex;
    padding: 2% 8%;
    margin-bottom: 5%;
    margin: 0% 2%;
}

@media screen and (max-width:700px) {
    .menu_navigation_footer {
        display: none;
    }

    .logo, .logo_footer{
        width: 70%;
    }

    .logo img, .logo_footer img{
        width: 80%;
    }

    .title{
        text-align: center;
        width: 80%;
    }

    .menu_navigation{
        flex-direction: column;
        font-size: 0.6rem;
    }

    .banner_img{
        width: 70%;        
    }

    .banner, #banner_border{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .banner_text_a{
        margin: 2% auto;
    }

    .banner_text{
        margin-top: 2%;
        width: 100%;
        font-size: 0.8rem;
    }

    .banner_text_h3{
        text-align: center;
    }

    .banner_text_p{
        text-align: justify;
        width: 100%;
    }

    .banner_text_a{
        width: 30%;
        font-size: 0.7rem;
    }

    .option_footer_link{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1200px) {
    .menu_navigation_footer{
        margin-left: 20%;
    }

    .menu_navigation{
        gap: 10%;
        margin-right: 5%;
    }
}

@media screen and (max-width:900px) {
    .banner_text{
        gap: 5%;
    }
    .banner_text_a{
        width: 50%;
    }

}